
abbr.lexicon-indicator,
acronym.lexicon-indicator,
sup.lexicon-indicator,
span.lexicon-indicator,
a.lexicon-indicator,
a.lexicon-icon,
dfn.lexicon-indicator,
img.lexicon-indicator {
  cursor: help;
}

span.lexicon-term {
  text-decoration: none;
  border-bottom: 1px dotted;
  cursor: help;
}

a.lexicon-term {
  text-decoration: none;
  border-bottom: 1px dotted #080;
  color: #080;
  cursor: help;
}

dl.lexicon-list > dt {
  font-weight: bold;
}

dl.lexicon-list > dd {
  font-weight: normal;
  font-size: 75%;
  margin-left: 15px;
}

dl.lexicon-list dt.depth1 {
  padding-left: 10px;
}

dl.lexicon-list dt.depth2 {
  padding-left: 20px;
}

dl.lexicon-list dt.depth3 {
  padding-left: 30px;
}

.lexicon-list dt {
  padding-top: 7px;
  clear: both;
}

td.lexicon-list-description {
  padding-left: 1em !important;
  font-style: italic;
  font-size: 90%;
}

a.lexicon-edit-term {
  font-size: 75%;
  font-weight: normal;
  margin-left: 2.0em;
}

a.lexicon-search-term {
  font-size: 75%;
  font-weight: normal;
  margin-left: 2.0em;
}

p.lexicon-description {
  margin: 0px 2.0em 0.5em 2.0em;
  text-indent: 0;
}

div.lexicon-letter {
  clear: both;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  text-transform: uppercase;
}

.lexicon-synonyms {
  font-style: italic;
  color: #888888;
}

.lexicon-related {
  font-style: italic;
  color: #888888;
}

.lexicon-related a {
  text-decoration: underline;
}

.lexicon-related a:visited {
  text-decoration: underline;
}

.lexicon-related a:link {
  text-decoration: underline;
}

.lexicon-links {
  text-align: center;
  background-color: #eeeeff;
  color: #888888;
}

.lexicon-links a {
  font-size: 140%;
  text-transform: uppercase;
}

.lexicon-alphabar-instructions {
  font-size: 89%;
  font-style: italic;
}

.lexicon-admin-links {
  clear: both;
  margin: 0.5em 0 0 3.0em;
}

.lexicon-admin-links li a {
  padding: 5px;
}

.lexicon-list dt img {
  float: left;
}  

.lexicon-list .taxonomy_image_wrapper {
  width: 70px;
  float: left;
}

a.clicktip_target {
  font-style:normal;
}

span.clicktip_target {
  font-style:normal;
}

html > body .hovertip_wrap3 {
  background-color: #ffdab9;
  border: 3px outset #d2691e;
}

.hovertip h2 {
  margin: 0;
  padding: 0;
  background-color: #D2691E;
  color: #ffffff;
}

a.hovertip_target {
  font-style:normal;
  border-bottom: 3px double #992222;
}

span.hovertip_target {
  font-style:normal;
  border-bottom: 3px double #992222;
}

.lexicon_radios .form-radios {
  margin-top: 0;
}

.lexicon_radios .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.lexicon_checkboxes .form-checkboxes {
  margin-top: 0;
}

.lexicon_checkboxes .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.lexicon_radios label.option {
  margin-right: 1em;
  float: left;
  border: 1px dotted #666666;
  padding: 0 4px 1px 0;
}

.lexicon_radios .form-item .description {
  clear: both;
}

.lexicon_checkboxes label.option {
  margin-right: 1em;
  float: left;
  padding: 0 4px 1px 0;
}

.lexicon_checkboxes .form-item .description {
  clear: both; 
}

.lexicon-detailed {
}

.lexicon-detailed h2 {
  margin-left: 10px;
}

.lexicon-detailed legend {
  text-indent: 0;
}

.lexicon-detailed-link {
  font-size: 89%;
  text-indent: 2em;
}

.lexicon-interval .description {
  display: block;
}

.block-lexicon {
  font-size: 89%;
}

.lexicon-block-term-name {
  font-weight: bold;
}

span.hovertip img {
  text-align: left;
  margin-right: 5px;
}
